{% extends "layout.html" %}
{% block body %}
<!-- Home section for landing page -->
<section class="home">
    <div class="home-content">
        <h1>Saifuddin Syed</h1>
        <p>Web Developer | ML Entusiast | Data Science Aspirant</p>
    </div>
</section>
<!-- About Section -->
<section class="about" id="about">
    <div>
        <h1>About</h1>
        <p> I am Saifuddin, I like building websites doing ML and AI projects. I work on building training and deploying Machine Learning Models as well as developing websites through Python Flask Framework </p>
    </div>
</section>
<!-- Projects Section  with grid styling-->
<section class="projects" id="projects">
    <div class="projects" id="projects"></div>
</section>

{% endblock %}