<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saifuddin Syed</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav>
        <div class="__navbar">
            <div class="__navbar-logo"><a href="">SS</a></div>
            <div class="__navbar-menu">
                <ul class="__navbar-menu-close">
                    <a href="/index"><li><span>Home</span></li></a>
                    <a href="#about"><li><span>About</span></li></a>
                    <a href="#projects"><li><span>Projects</span></li></a>
                    <a href="/resume"><li><span>Resume</span></li></a>
                </ul>
            </div>
        </div>
    </nav>
    {%block body%}
    {%endblock%}
    <footer>
        <div class="footer_main">
            <h3>Other Links</h3>
            <ul>
              <li>blog</li>
              <li>Projects</li>
              <li>Resume</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
          <div class="copyright">
            Copyright © 2021 All Rights Reserved by Saifuddin Syed.
          </div>
    </footer>
</body>
</html>