<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume- Saifuddin Syed</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/nav.js"></script>
</head>
<body>
    <nav>
        <div class="__navbar" id="__navbar">
            <div class="__navbar-logo"><a href="#home">SS</a></div>
            <div class="__navbar-menu">
                <ul class="__navbar-menu-close">
                    <a href="#objective"><li><span>Objective</span></li></a>
                    <a href="#experience"><li><span>Experience</span></li></a>
                    <a href="#skills"><li><span>Skills</span></li></a>
                    <a href="#projects"><li><span>Projects</span></li></a>
                    <a href="#education"><li><span>Education</span></li></a>
                </ul>
            </div>
        </div>
    </nav>

    <section class="home" id="home">
        <div class="home-content">
            <h1>Saifuddin Syed</h1>
            <p>syed.saifuddintaj@gmail.com | +91 8106730399</p>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/syedsaifuddintaj"><img src="static/linkedin.png" alt="linkedin"></a>
                <a href="https://twitter.com/syedsaifuddin_"><img src="static/twitter.png" alt="twitter"></a>
                
            </div>
            <div class="button">
                <button class="btn"><a href="/index">Visit Website</a></button>
            </div>
        </div>
        
    </section>

    <section class="objective" id="objective">
        <div>
            <h1>Objective</h1>
            <p>An industrious, deliberate, and versatile programmer/engineer, committed to supporting both local and global teams, focused on growth through developing, testing, and deploying web applications. 
               I take insights derived from data and apply them “on the ground” by making business decisions and communicating with stakeholders.
               I enjoy educating on complex topics, and exercise fluid communication to all levels of my team: leadership, peers, and direct reports.</p>
        </div>
    </section>
    
    <section class="experience" id="experience">
        <div>
            <h1>Experience</h1>
            <br>
            <p><b>Database Administration</b></p>
            <p>Tata Consultancy Services Limited. • 2019–Present</p>
            <li>Design, Deployment and maintenance of various relational database flavours Oracle, MSSQL, MySQL</li>
            <li>Working closely with clients on the requirements for creating, deploying and maintaining databases</li>
            <li>Automating daily operational tasks via powershell scripting, python and shell scripting</li>
            <br>
            <p><b>Full Stack Web Development</b></p>
            <p>Tata Consultancy Services Limited. • 2018-2019</p>
            <li>Design, Develop and Maintain web applications using Python Flask Framework</li>
            <li>Creating, Testing, Deploying and Maintaining flask API's</li>
        </div>
    </section>
    <section class="skills" id="skills">
        <div class="grid-container">
                <div class="col1head">
                    <h2 class="main--h2">Programming</h2>
                </div>
                <div class="c1a1">HTML</div>
                <div class="c1a2 skillbar html skills">90%</div>
                <div class="c1b1">CSS</div>
                <div class="c1b2 skillbar css skills">90%</div>
                <div class="c1c1">Python</div>
                <div class="c1c2 skillbar python skills">90%</div>
                <div class="c1d1">Flask</div>
                <div class="c1d2 skillbar flask skills">90%</div>
                <div class="c1e1">SQL</div>
                <div class="c1e2 skillbar sql skills">90%</div>
                <div class="col2head">
                    <h2 class="main--h2">Tools and Technologies</h2>
                </div>
                <div class="c2a1">Cloud Computing</div>
                <div class="c2a2 skillbar cc skills">95%</div>
                <div class="c2b1">Data Science</div>
                <div class="c2b2 skillbar ds skills">90%</div>
                <div class="c2c1">Web Development</div>
                <div class="c2c2 skillbar webdev skills">90%</div>
                <div class="c2d1">Automation</div>
                <div class="c2d2 skillbar automation skills">90%</div>
                <div class="c2e1">Powershell Scripting</div>
                <div class="c2e2 skillbar ps skills">90%</div>
                <div class="c2f1">Performance Tuning</div>
                <div class="c2f2 skillbar performance skills">80%</div>
                <div class="c2g1">Shell Scripting</div>
                <div class="c2g2 skillbar ss skills">75%</div>
                <div class="col3head">
                    <h2 class="main--h2">Process</h2>
                </div>
                <div class="c3a1">DALC </div>
                <div class="c3a2 skillbar dalc skills">90%</div>
                <div class="c3b1">Agile Methodology</div>
                <div class="c3b2 skillbar am skills">80%</div>
                <div class="c3c1">ITIL</div>
                <div class="c3c2 skillbar itil skills">75%</div>
                <div class="c3d1">Version Control</div>
                <div class="c3d2 skillbar vc skills">75%</div>
        </div>
    </section>
    <section class="projects" id="projects">
    

    </section>
    <section class="education" id="education">
        <div>
            <h1>Education</h1>
            <p>
                <b>B.Tech., Electrical and Electronics Engineering</b>
                <p>GRIET Hyderabad • 2018</p>
                <li>Intermediate(+2)</li>
                <p>Sri Chaitanya Jr. College • 2014</p>
                <li>SSC</li>
                <p>St. Patrick's Public School • 2012</p>
            </p>
        </div>
    </section>
    <footer>
        <div class="footer_main">
            <h3>Other Links</h3>
            <ul>
              <li>blog</li>
              <li>Projects</li>
              <li>Resume</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
          <div class="copyright">
            Copyright © 2021 All Rights Reserved by Saifuddin Syed.
          </div>
    </footer>
</body>
</html>